div{
    background-color:rgb(241, 234, 234);
    height: 50px;
    width: 50px;
    border: black solid 1px;
    display:flex;
    padding: 10px;
    text-align: center;
}
body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: 800% 800%;
    margin-top: 100px;
    background-color: rgb(133, 216, 216);
}

@keyframes bgcolor{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}